{% extends "common/base.html" %}
{% block content %}

<div class="page-genres">
    <h2 class="title">Genres</h2>

    <div class="genre-items">
        <div class="genre-item">
            <div class="genre-item-title">Music</div>
        </div>

        <div class="genre-item">
            <div class="genre-item-title">Video and Film</div>
        </div>

        <div class="genre-item">
            <div class="genre-item-title">Animation</div>
        </div>

        <div class="genre-item">
            <div class="genre-item-title">Still Art</div>
        </div>

        <div class="genre-item">
            <div class="genre-item-title">Podcasts</div>
        </div>

        <div class="genre-item">
            <div class="genre-item-title">Variety</div>
        </div>
    </div>

</div>

{% endblock %}
