{% extends "common/base.html" %}
{% block content %}

<div class="page-home">
    <div class="content-column-left">
        <div class="column-content">
            <h2>Frontrunners</h2>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
            <a class="img-block" href="#"><img src="../img/image1.png" /></a>
        </div>
    </div>
    <div class="content-column-right">
        <div class="column-content">
            <div class="slider-block">
                <h2 class="title">Our monthly winners</h2>
                <div class="slider-wrapper js-slider">
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                </div>
            </div>
            <div class="slider-block">
                <h2 class="title">Artists from the Unknown</h2>
                <div class="slider-wrapper js-slider">
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                </div>
            </div>
            <div class="slider-block">
                <h2 class="title">Our monthly winners</h2>
                <div class="slider-wrapper js-slider">
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                </div>
            </div>
            <div class="slider-block">
                <h2 class="title">Artists from the Unknown</h2>
                <div class="slider-wrapper js-slider">
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider2.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider1.png" /></a>
                    <a class="one-slide" href="#"><img src="../img/image-slider3.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
