{% extends "common/base.html" %}
{% block content %}

<div class="page-sign-in">

    <div class="sign-in">
        <div class="sign-in-inner">
            <h1 class="title text-center">Sign in</h1>

            <form action="#" class="sign-in-form">
                <div class="input-icon">
                    <img src="../img/icons/mail.svg" alt="icon">
                    <input type="text" class="custom-control" placeholder="Username or Email">
                </div>
                <div class="input-icon">
                    <img src="../img/icons/key.svg" alt="icon">
                    <input type="text" class="custom-control" placeholder="Password">
                </div>
            </form>

            <div class="text-center">
                <a href="#" class="big-button-inline">
                    Sign in
                </a>
            </div>

            <div class="text-center">
                <a href="#" class="link">Forgot you password?</a>
            </div>

        </div>

    </div>

    <div class="sign-up">
        <div class="sign-up-to-be-supporter"  >
            <h1>Sign up to be supporter</h1>
            <button class="btn-outline">
                Sign up
            </button>
        </div>
        <div class="sign-up-for-free">
            <h1>Sign up for free to be a browser!</h1>
            <button class="btn-outline">
                Sign up
            </button>
        </div>
    </div>


</div>

{% endblock %}
